@font-face {
    font-family: 'fontTetris';
    src: url('../font/INFECTED.ttf');
}

@font-face {
    font-family: 'items';
    src: url('../font/Fast\ Forward.ttf');
}

body {
    background-image: url('https://st4.depositphotos.com/1814366/24936/i/600/depositphotos_249364614-stock-photo-glowing-neon-light-background-template.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    margin: 0%;
    padding: 0 0 5rem 0;
    text-align: center;
    font-family: 'fontTetris';
    color: rgb(100, 253, 29);
    font-size: 50px;
}

.imgBox {
    width: 50%;
    height: 200px;
}

canvas {
    border: 4px solid white;
}

.containerBox {
    background: rgb(18 18 26 / 34%);
    padding: 25px;
    border: 1px solid rgb(61, 255, 3);
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

.score {
    font-family: 'items';
    font-size: 12px;
    color: rgb(208, 255, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #707070;
    color: #ffffff;
    width: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.level {
    font-family: 'items';
    font-size: 9px;
    color: rgb(208, 255, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #707070;
    color: #ffffff;
    padding: 8px;
    margin: 5px;
}

.userName {
    font-family: 'items';
    font-size: 9px;
    color: rgb(208, 255, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #000000;
    color: #0ec7ff;
    padding: 8px;
    margin: 5px;
}

.cotrl {
    color: #ffffff;
    text-align: center;
}

.cotrl ul {
    list-style: none;
    display: flex;
}

.cotrl li {
    padding: 0 10px;
}

@media only screen and (min-width: 300px) {
    .header {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 700px) {
    .containerBox {
        background: #00000080;
        padding: 25px;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header {
        border-right: 2px solid rgb(255, 255, 255);
        font-size: 25px;
        padding-right: 35px;
        margin-right: 5rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .score {
        height: 150px;
        width: 150px;
        margin: 15px;
        font-size: 22px;
    }
    .userName {
        margin-bottom: 15px;
        width: 150px;
        font-size: 15px;
    }
    .cotrl li {
        padding: 0 10px;
        font-size: 25px;
    }
}